.External{
    background-color: rgb(165, 42, 147);
    color: aliceblue;
    font-size: 30px
}
li{
    list-style-type: none;
}

p{
    background-color: rgb(7, 39, 240);
    color: aliceblue;
    font-size: 30px
}